
/* unocss D:/project/lowcode-fe/packages/basic/src/configurations/Http.tsx */
/* layer: default */
.un-grid{display:grid;}
.un-grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.un-gap-x-8px{column-gap:8px;}
.un-p-12px{padding:12px;}